
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <link href="~/Content/bootstrap.min.css"/>
    <title>Index</title>
</head>
<body>
    <div> 
        <h1></h1>
    </div>
</body>
</html>
