@*@model MVC_main_layout.Models.IndexVM*@

@{
    ViewBag.Title = "ViewData-Exercise";
    var escritores = ViewData["escritores"] as List<MVC_main_layout.DAL.Escritor>;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width = 1" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var esc in escritores)
            {

                <li>@esc.Nombre</li>

            }
        </ul>
    </div>
</body>
</html>
