@model MVC_main_layout.Models.VotosVM


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Histograma</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
